:root {
    --background-color: rgb(241, 242, 233);
    --highlight-color: rgb(249, 249, 240);
    --input-color: rgb(228, 230, 217);
    --input-lighter: rgb(232, 234, 220);
    --banner-text-color: rgb(33, 39, 20);
    --form-text-color: rgb(42, 53, 20);
    --clickable-color: rgb(93, 119, 74);
    --button-hover-color: rgb(104, 133, 83);
    --button-clicked-color: rgb(116, 148, 93);
    --kufi-font: 'Reem Kufi Fun';
}

body {
    margin: 0;
    background-image: url(./bike.jpg);
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-items: stretch;
    align-items: center;
    font-family: 'Reem Kufi Fun', sans-serif;
    color: (--text-color);
}

.left-space {
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-banner {
    background-color: rgba(198, 178, 159, 0.4);
    color: var(--banner-text-color);
    font-size: 2rem;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img {
    height: 100px;
    width: 80px;
}

.photo-credits {
    /* background-color: rgba(198, 178, 159, 0.4); */
    color: var(--background-color);
    position: fixed;
    bottom: 0;
}

.right-space {
    width: 55vw;
    display:flex;
    justify-content: center;
    align-items:flex-end;
}

p {
    font-size: 1.2em;
    margin: 10px;
    color: var(--form-text-color);
}
.form-info{
    width: 65%;
}
.sign-up-form {
    background-color: var(--background-color);
    width: 100%;
    padding: 50px 20px;
    box-shadow: -5px 7px 3px 3px rgba(68, 75, 66, 0.3);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-row {
    padding: 0;
    display:flex;
    justify-content: space-between;
}

#top-row>p {
    margin:0;
    align-self: flex-end;
    /* position: absolute;
    top: 32%;
    right: 10%; */
}

#top-row>p::before {
    content: "*";
    color: red;
}

h2 {
    font-size: 1.2em;
    margin: 0;
}

.form-text {
    font-size: 1em;
}

form {
    background-color: var(--highlight-color);
    box-shadow: 5px 5px 7px 3px var(--input-color);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 70%;
    /* align-self: center; */
}

label[for="first-name"]::after,
label[for="last-name"]::after,
label[for="email"]::after,
label[for="username"]::after,
label[for="password"]::after,
label[for="confirm"]::after,
label[for="agree"]::after {
    content: '*';
    color: red;
}

label {
    color: var(--form-text-color);
    font-size: 1em;
    margin-bottom: -3px;
}

legend {
    font-weight: 700;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;

}
.form-row:nth-last-child(1){
    width: 100%;
    padding-bottom: 0;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: flex-start;


}

.confirm {
    width: 100%;
}
#confirm{
    width: 40%;
}
/* .error-text{
    width: 33%;
} */

fieldset {
    border: none;
    border-top: 1px solid var(--clickable-color);
    margin: auto;
}

.user-information {
    display: grid;
}

input {
    background-color: var(--input-color);
    border: none;
    border-bottom: 1px solid var(--clickable-color);
    border-radius: 5px;
    padding: 5px 10px;
    width: 85%;
    flex: 1;
    font-family: var(--kufi-font), sans-serif;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:hover {
    background-color: var(--input-lighter);
}

input:user-invalid {
    border: 2px solid rgb(201, 47, 47);
}

input[type="text"]::placeholder {
    color: var(--clickable-color);
    font-style: var(--kufi-font);
}

input[type="radio"],
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 1.15em;
    width: 1.15em;
    border: 1px solid var(--clickable-color);
    padding: 0;
    background-color: var(--input-color);
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"] {
    border-radius: 3px;
    display: grid;
    place-content: center;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]::before {
    border-radius: 50%;
}

input[type="checkbox"]::before {
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="radio"]::before,
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--clickable-color);
    background-color: var(--clickable-color);
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    transform: scale(1);
    /* background-color: var(--clickable-color); */
}


input:focus {
    /* outline: none; */
    /* border: 2px solid var(--clickable-color); */
    outline: max(2px, 0.15em) solid var(--clickable-color);
    /* outline-offset: max(1px, 0.15em); */
}

.radio-row {
    display: flex;
    justify-content: space-evenly;
}

.radio-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agree-to-terms {
    display: flex;
    justify-content: flex-start;
}

.error {
    color: red;
    font-size: 0.8em;
    margin:0;
    margin-top: -2px;
    
}

button {
    display: block;
    margin: auto;
    padding: 7px 15px;
    border-radius: 3px;
    border: none;
    background-color: var(--clickable-color);
    color: white;
    font-size: 1.1em;
}

button:hover {
    background-color: var(--button-hover-color);
    font-weight: 700;
    padding: 7px 14px;
}

button:focus {
    background-color: var(--button-clicked-color);
}

button:disabled {
    background-color: var(--input-color);
}

@media screen and (max-width:900px){
    .photo-banner{
        flex-direction:column;
        gap: 0;
    }
    h1{
        margin:0;
    }
    form{
        width: 90%;
        margin:0;
    }
}
@media screen and (max-width: 750px){
    .form-info{
        width:80%;
    }
}
@media screen and (max-width:675px){
    body{
        flex-direction:column;
    }
    .left-space{
        width:100%;
        height:50vh;
    }
    .photo-banner{
        flex-direction:row;
    }
    .photo-credits{
        position:relative;
        color:var(--input-color);
    }
    .right-space{
        width:85%;
    }
}

@media screen and (max-width: 500px){
    .photo-banner{
        flex-direction:column;
    }
    .form-info{
        width:90%;
    }
    .photo-credits{
        font-size:0.8em;
    }
}
@media screen and (max-width: 430px){
    .top-row{
        flex-direction:column;
    }
    .form-row{
        flex-direction:column;
        gap:0;
    }
    .form-item{
        width: 80%;
    }
    #confirm{
        width:85%;
    }
    .radio-row{
        flex-direction: column;
        gap:10px;
    }
    .radio-choice{
        flex-direction:row;
    }
}